
body {
  color: #fff;
  font-family: sans-serif;
}
.navbar {
  background-color: rgb(30, 170, 241);
}
.content {
  background-color: rgb(147, 103, 92);
}
.navbar, .content {
  padding-top: 30px;
  height: 100px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
}

@media (min-width: 720px) {
  .container {
    max-width: 960px;
    margin: 30px auto;
  }
  .content {
    float: left;
    width: 65%;
  }
  .navbar {
    float: right;
    width: 30%;
  }
}
