body {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  line-height: 1.7;
  color: #212121;
  font-family: arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
  // window7 上面根本就没有 sans-serif 字体，上面一行来自 mi.com
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media (max-width: 500px) {
  body {
    font-size: 91%;
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: #00bcd4;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.container {
  max-width: 960px;
  width: 96%;
  margin: 0 auto;
}

.header {
  background-color: #00BCD4;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}


// landing page

.index.header {
}

h1.book-title {
  color: white;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 30px;
}

.book-cover {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}

// page

.page.header {
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  position: fixed;
}


.home {
  color: #fff;
  line-height: 64px;
  font-weight: 400;
  float: left;
  font-size: 1.3em;
}

.chapter-title {
  display: block;
  float: left;
  color: #fff;
  font-size: 1.3em;
  line-height: 64px;
}

.chapter-title:before {
  background: no-repeat url("../images/separator.svg") right center;
  background-size: contain;
  content: '';
  float: left;
  height: 64px;
  margin: 0 .3em 0 .3em;
  width: .4em;
}

.main {
  margin-top: 7em;
}
.card {
  background-color: #fff;
  margin: 2em 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 1em;
  font-weight: 300;
  border-radius: 0 0 2px 2px;
}

.card h3 {
  font-size: 1.3em;
  margin-top: 1.3em;
  margin-bottom: 0;
  color: #00bcd4;
}

.card img {
  display: block;
  max-width: 80%;
  margin: 25px auto;
}

.card p {
  margin-top: 1.1em;
}

/* highlight */

.highlight {
  margin-top: 1em;
  background: #2D3037;
  padding: 5px 20px;
  font-size: 1.1em;
  font-weight: bold;
}

@media ( max-width: 500px ) {
  .highlight {
    padding: 5px 9px;
  }
}

code {
  color: #4b4b4b;
  font-weight: 700;
}

.highlight code {
  color: #c5c8c6;
}

.highlight pre {
  margin-top: 9px;
  overflow-x: auto;
}


// index page toc

.toc {
  .chapter {
    margin-bottom: 20px;
  }
}
.toc .index {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  float: left;
}
.toc .title {
  float: left;
  margin-left: 20px;
}
.toc .title a {
  line-height: 40px;
  color: rgb(74, 74, 74);
  font-size: 18px;
}

.toc .index.odd {
  background-color: rgb(255, 137, 103);
}
.toc .index.even {
  background-color: rgb(82, 179, 168);
}
.toc h3 {
  text-align: center;
  color: rgb(82, 179, 168);
  font-size: 23px;
}


.footer {
  background-color: rgb(0, 188, 212);
  margin-top: 70px;
}
.footer .container {
  text-align: right;
  a {
    color: white;
    line-height: 90px;
    padding: 0 20px;
    font-weight: bold;
    font-size: 19px;
  }
}
