<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="style/main.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="images/favicon.png">
</head>
<body>

<div class="index header">
  <div class="container">
    <a href="index.html" class="book-title">
      HOME
    </a>
  </div>
</div>

<div class="container"><%= contents %></div>
  <div class="footer">
    <div class="container">
      <a href="http://github.com/happypeter">欢迎添加 Peter 的微信： happypeter1983</a>
    </div>
   </div>
   <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
