<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="../css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="../images/favicon.png">
</head>
<body>
  <div class="page header">
    <div class="container">
      <a href="/go-responsive/c" class="home">
        笔记首页
      </a>
      <!--[if lte IE 9]>
      <span style="padding: 0 5px; float: left; color: white; font-weight: bold; line-height: 64px">>>></span>
      <![endif]-->
      <span class="chapter-title">
        {{ page.title }}
      </span>
     </div>
   </div>
   <div class="main container">
     <div class="card">
     {{ content }}
     </div>
   </div>
   {% include footer.html %}
</body>
</html>
